<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de inscripciones</title>
</head>
<body>
    <h1>Lista de inscripciones</h1>
    <table>
        <tr>
            <td>Nombre</td>
            <td>Edad</td>
        </tr>
    {% for registry in registry_list %}
        <tr>
            <td>{{registry.name}}</td>
            <td>{{registry.age}}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>