{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'register.css' %}">
<div class='register-container'>
    <img class='register_logo' src="{% static 'logo.png' %}" alt='DanzasEimily'/>
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Registrarme</button>
    </form>    
    <p>¿Ya tienes una cuenta? <a href="{% url "login" %}">Login</a></p>
</div>
{% endblock content %}
