:root {
    --font-family-all: "Quicksand", sans-serif;
    --very-eimily-pink: #f9b5fa;
    --very-eimily-pink-hover: #b537b8;
    --very-eimily-purple: #8e5abeec;
    --text-input-field-color: #e7e4e4;
    --background-registry-color:#ffffff;
    --text-input-field-radius: 8px;
    --text-input-field-padding: 6px;
    --button-field-radius: 8px;
    --button-field-padding: 10px;
    --message-error-color: #ff0000;
    --shadow: #837777c5;
    --white: #FFFFFF;
    --black: #000000;    
}

html {
    font-family: var(--font-family-all);
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;;
}

body {
    margin: 0px;
}

.general-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    place-items: center;
}

.registry-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 380px;
    width: 290px;    
    background-color: var(--background-registry-color);
}

.registry-container__logo {
    width: 90px;
    height: 65px;
    margin-top: 15px;
}

.registry-container__tittle {
    margin-top: 5px;
    margin-bottom: 10px;
    color: var(--very-eimily-pink);
}

.registry-container__text {
    margin-top: 20px;
}

.registry-container-form {
    width: 100%;
    display: flex;
    flex-direction: column;        
    align-items: left;    
}

.registry-container-form__button {
    width: 100%;
    padding: var(--button-field-padding);    
    border-radius: var(--button-field-radius);
    color: var(--black);        
    background-color: var(--very-eimily-pink);
    border-style: none;
    font-size: large;   
    text-decoration: none; 
    cursor: pointer;
    font-family: var(--font-family-all);    
}

.registry-container-form__button:hover {
    background-color: var(--very-eimily-pink-hover);
}

.registry-container-form__label{
    font-weight: bold;
}


.registry-container-form__input {
    width: 100%;  
    padding-inline-start: 30px;
    padding-inline-end: 30px;
    padding: var(--text-input-field-padding);
    box-sizing: border-box;
    margin-bottom: 25px;
    background-color: var(--text-input-field-color);
    border-radius: var(--text-input-field-radius);    
    border: none;
    font-size: large;    
}

.registry-container-form__input:focus {
    outline: none;
}

@media (min-width:330px) {
    .registry-container__logo {
        display: none;
    }
}