:root {
    --font-family-all: "Quicksand", sans-serif;
    --very-eimily-pink: #f9b5fa;
    --very-eimily-pink-hover: #b537b8;
    --very-eimily-purple: #8e5abeec;
    --text-input-field-color: #e7e4e4;
    --background-registry-color:#ffffff;
    --text-input-field-radius: 8px;
    --text-input-field-padding: 6px;
    --button-field-radius: 8px;
    --button-field-padding: 10px;
    --message-error-color: #ff0000;
    --transparent: #e7e4e4a2;
    --shadow: #837777c5;
    --white: #FFFFFF;
    --black: #000000;    
}

html {
    font-family: var(--font-family-all);
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;;
}

body {
    margin: 0px;
}


.card-conteiner{
    display: grid;
    grid-template-columns: repeat(auto-fill,240px);
    gap: 26px;
    place-content: center;
}

.card-conteiner__item{
    width: 240px;
}

.card-conteiner__img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

.card-conteiner__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-conteiner__info div p:nth-child(1){
    font-weight: bold;
    font-size: medium;
    margin-top: 0px;
    margin-bottom: 4px;
}

.card-conteiner__info div p:nth-child(2){
    font-weight: bold;    
    font-size: small;
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--very-eimily-pink);
}

.card-conteiner__figure{
    margin: 0;
}

@media(max-width: 640px){
    .card-conteiner{
        grid-template-columns: repeat(auto-fill,140px);
    }
    .card-conteiner__item{
        width: 140px;
    }
    .card-conteiner__img{
        width: 140px;
        height: 140px;
    }
}