{% extends "base.html" %}
{% block content %}
<h1>Listado de movimientos</h1>
<div>
    <table>
      <thead>
        <tr>
          <th>ITEM</th>
          <th>MONTO EN BOLIVARES</th>
          <th>MONTO EN DIVISAS</th>
          <th>FECHA</th>
        </tr>
      </thead>
      <tbody>
        {% for movement in list_movements %}
        <tr>
          <td>{{movement.items}}</td>
          <td>{{movement.local_amount}}</td>
          <td>{{movement.foreign_exchange}}</td>
          <td>{{movement.date}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
<a href="{% url "add_movements" %}">INGRESAR MOVIMIENTO</a>
{% endblock content %}


  