.event-container {
    display: flex;
    width: 1000px;
    height: 700px;
    flex-direction: column;
}

.event-container__tittle {
    color: var(--very-eimily-pink);
}

.event-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.event-container-card {
    display: flex;
    width: 280px;
    height: 650px;
    flex-direction: column;   
    margin-bottom: 100px;
}

.event-container-card__img {
    width: 100%;
    height: 220px;
    border-radius: 15px;
}

.event-container-card__button {
    width: 100%;
    background-color: var(--very-eimily-pink);
    color: var(--black);
    font-family: var(--font-family-all);
    border-radius: var(--button-field-radius);
    padding: var(--button-field-padding);    
    border-style: none;
    font-size: large;   
    text-decoration: none;
    cursor: pointer;
}

.event-container-card__button:hover {
    background-color: var(--very-eimily-pink-hover);
}

.event-container-card__ul {
    height: 360px;
    padding: 10px 10px;
}

.event-container-card__li {
    list-style: none;
    margin-bottom: 20px;
}

.event-container-card__span {
    font-weight: bold;
}