.register-container {
    display: flex;
    width: 290px;       
    align-items: center;
    flex-direction: column;    
    background-color: var(--very-eimily-purple);
}

.register-container__logo {
    width: 90px;
    height: 65px;
    margin-bottom: 5px;
}

.register-container__text {
    margin-top: 20px;
}

.register-container-form {
    display: flex;
    justify-content: center;
    flex-direction: column;    
}

.register-container-form__button {
    width: 100%;
    box-sizing: border-box;
    padding: var(--button-field-padding);    
    color: var(--black);    
    background-color: var(--very-eimily-pink);
    border-radius: var(--button-field-radius);
    border-style: none;
    text-decoration: none; 
    font-size: large;       
    font-family: var(--font-family-all);
    cursor: pointer;
}

.register-container-form__button:hover {
    background-color: var(--very-eimily-pink-hover);
}

/*Componentes de Django*/
.register-container-form p {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.register-container-form span {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: small;   
}

.register-container-form span#id_password1_helptext {
    display: none;
}

.register-container-form input {
    width: 100%;    
    padding-inline-start: 30px;
    padding-inline-end: 30px;
    box-sizing: border-box;      
    padding: var(--text-input-field-padding);
    background-color: var(--text-input-field-color);
    border-radius: var(--text-input-field-radius);    
    font-size: large;    
    border: none;
}

.register-container-form label {
    margin-bottom: 2px;
}

.register-container-form input:focus {
    outline: none;    
}

.register-container-form ul {
    width: 100%;
    padding: 0px 0px;
    margin-top: 0px;
    box-sizing: border-box;
    font-size: small;    
}

.register-container-form li {
    margin-bottom: 2px;
}

.register-container-form li::before {
    content: '- ';
}

.register-container-form li::marker {
    content: '';
}

.register-container-form .errorlist {
    width: 80%;
    box-sizing: border-box;
    padding: var(--message-error-list-padding);
    color: var(--message-error-list-color);
    font-size: small;    
}
/*Componentes de Django*/