.register-container {
    position: relative;
    display: flex;
    background-color: var(--very-eimily-purple);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 720px;
    width: 500px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px var(--shadow);
}

.register-container__logo {
    width: 180px;
    height: 130px;
    margin-bottom: 0px;
    position: absolute;
    top: -90px;
    left: -60px;
}

.register-container__text {
    display: block;
    margin-top: 20px;
}

.register-container-form {
    display: flex;
    justify-content: center;
    flex-direction: column;    
}

.register-container-form__button {
    background-color: var(--very-eimily-pink);
    color: var(--black);
    border-radius: var(--button-field-radius);
    padding: 10px 20px;
    border-style: none;
    font-size: large;   
    text-decoration: none; 
    font-family: var(--font-family-all);
    cursor: pointer;
}

.register-container-form__button:hover {
    background-color: var(--very-eimily-pink-hover);
}

/*Componentes de Django*/
.register-container-form p {
    margin-top: 0px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;      
}

.register-container-form span {
    margin-top: 10px;
    width: 350px;        
}

.register-container-form input {
    padding-inline-start: 30px;
    padding-inline-end: 30px;
    padding: var(--text-input-field-padding);
    font-size: x-large;
    background-color: var(--text-input-field-color);
    border-radius: var(--text-input-field-radius);    
    border: none;
    text-align: center;  
}

.register-container-form label {
    margin-bottom: 2px;
    font-weight: bold;
    color: var(--black);
}

.register-container-form input:focus {
    outline: none;    
}

.register-container-form ul {
    display: none; 
}

.register-container-form li::marker {
    content: '';
}

.register-container-form .errorlist {
    font-size: 12px;
    margin-top: 3px;
    color: var(--very-eimily-pink);
    position: absolute;
    left: 80px;
    right: 30px;
    bottom: 3px;
    font-weight: bold;
    display: block;
}
/*Componentes de Django*/