h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f191f3;
}

input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.general-logo {
    width: 80px;
    height: 60px;
    margin-bottom: 0px;
}

.general-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0px;
}

nav {
    display: grid;
    height: 85px;
    margin-bottom: 20px;
    background-color: blueviolet;
    box-shadow: 10px 5px 5px #f191f3;
    grid-template-columns: 1fr 1fr;
}

.nav-div-left {
    display: flex;
    margin-left: 10px;
    justify-content: left;
    align-items: center;
    height: 80px;
}

.nav-div-right {
    display: flex;
    margin-right: 10px;
    justify-content: right;
    align-items: center;
    height: 80px;
}

.nav-item-right {
    margin-right: 10px;
}

.nav-a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    padding: 10px;
    background-color: #f191f3;
    border-radius: 13px;
    border: 10px;
    border-color: azure;
    text-decoration: none;
}

.nav-a:hover {
    background-color: #b537b8;
}

button {
    color: aliceblue;
    background-color: #f191f3;
    color: black;
    border-radius: 13px;
    padding: 10px 20px;
    border-style: none;
    font-size: large;    
}

button:hover {
    background-color: #b537b8;
}