{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
<div class='register-container'>
    <img class='register-container__logo' src="{% static 'img/logo.png' %}" alt='DanzasEimily'/>
    <form class='register-container-form' action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button class='register-container-form__button' type="submit">Registrarme</button>
    </form>    
    <p class='register-container__text '>¿Ya tienes una cuenta? <a href="{% url "login" %}">Login</a></p>
</div>
{% endblock content %}
