{{> head }}



{{> navbar }}


<div class="container">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Tarjeta</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="tarjeta" autofocus>
        </div>
        <button type="submit" class="btn btn-primary">Procesar</button>
    </form>
</div>


{{> footer }}