<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'general.css' %}">
        <title>Danzas Eimily 🩰</title>
    </head>
    <body>
        <div>
            <div>
                <img src="{% static 'logo.png' %}" alt='DanzasEimily' width="120" height="100"/>
                <h1 class='general_h1'>Academia de Danzas Eimily</h1>  
                {% if user.is_authenticated %} 
                <h1>Hola, {{user.first_name}}</h1>
                <form action={% url "logout" %} method='post'>
                    {% csrf_token %}
                    <button type='submit'>Salir</button>
                </form>
                {% else %}
                <a href={% url "login" %}>Ingresar</a>
                {% endif %}            
            </div>
            <div class='general-container'>
                {% block content %}{% endblock  %}
            </div>
        </div>
    </body>
</html>