{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'events.css' %}">
<div class='event-container'>
    <div><h1>Eventos</h1></div>
    <div class='event-container-img'>
      {% for events in list_events %}
      <div class='event-container-img-elements'>
          {% if events.image %}
          <div><img class='event-img' src={{events.image.url}} alt={{events.name}}/></div>
          {% endif %}
          <div>
            <ul>
              <li><span>Nombre:</span></br>{{events.name}}</li>
              <li><span>Fecha:</span></br>{{events.date}}</li>
              <li><span>Descripcion:</span></br>{{events.description}}</li>
              <li><span>Ubicacion:</span></br>{{events.location}}</li>
            </ul>
          </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock content %}


  