{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/events.css' %}">
<div class='event-container'>
    <h1 class='event-container__tittle'>Eventos</h1>
    <div class='event-container-grid'>
      {% for event in list_events %}
      <div class='event-container-card'>
          {% if event.image %}
          <img class='event-container-card__img' src={{event.image.url}} alt={{event.name}}/>
          {% endif %}
            <ul class='event-container-card__ul'>
              <li class='event-container-card__li'>
                <span class='event-container-card__span'>Nombre:</span></br>{{event.name}}
              </li>
              <li class='event-container-card__li'>
                <span class='event-container-card__span'>Fecha:</span></br>{{event.date}}
              </li>
              <li class='event-container-card__li'>
                <span class='event-container-card__span'>Descripcion:</span></br>{{event.description}}
              </li>
              <li class='event-container-card__li'>
                <span class='event-container-card__span'>Ubicacion:</span></br>{{event.location}}
              </li>
            </ul>
            <form action={% url 'add_tickets' %} method='post'>
                {% csrf_token %}
                <input type='hidden' name='event' value={{event.id}}>
                <button class='event-container-card__button' type='submit'>Reservar</button>
            </form>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock content %}


  