<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>{{title}}</title>
</head>

<body>
  <div>
    <button [disabled]="isDisable">Enviar</button>
    <button (click)="toggleButton()">Activar o desactivar</button>
    <button (click)="aumentoEdad()">edad ++</button>
    <button (click)="aumentoProgreso()">Proceso</button>
  </div>

  <div>
    <progress max="100" [value]="progreso"></progress>
  </div>

  <h1>{{"Mi nombre es " + persona.nombre}}</h1>
  <h1>{{"Mi apellido es " + persona.apellido}}</h1>
  <h1>{{"Mi edad es " + persona.edad }}</h1>
  <button [disabled]="isDisable">Enviar</button>
  <input type="text" [value]="persona.nombre" (keyup)="changeName($event)">
  <input type="text" [(ngModel)]="persona.nombre">
  <p *ngIf="persona.nombre === 'Juan'; else block"> Soy {{persona.nombre}}</p>
  <ng-template #block>
    <p>Nombre invalido</p>
  </ng-template>


  <input type="text" [(ngModel)]="newName">
  <button (click)="addName()">Añadir nombre</button>
  <ul>
    <li *ngIf="names.length === 0">No hay nombre en la lista</li>
    <li *ngFor="let name of names; index as i">
      {{i}}.{{name}}<button (click)="deleteName(i)">Eliminar</button>
    </li>

  </ul>

  <div>
    <input type="number" max="30" min="18" required #edaInput="ngModel" [(ngModel)]="persona.edad">
    <p>valido = {{edaInput.valid}}</p>
  </div>

  <div class="box" (scroll)="onScroll($event)">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat ut quos esse numquam. Officiis reprehenderit
      neque unde fugiat! Expedita sed id alias eius repellendus officiis, nihil accusamus nisi ad saepe.
      <br>
      <br>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias consequuntur ad eum quae harum suscipit molestias,
      repellat dolores atque tempore consequatur illum perferendis rerum tenetur amet, placeat voluptatum adipisci
      voluptatibus!
    </p>
  </div>

  <div *ngFor="let person of peopleArray; index as i">
    <h2>{{person.firstname}}</h2>
    <h2>{{person.lastname}}</h2>
    <p>Su edad es {{person.age}}</p>

  </div>

  <input type="text" [(ngModel)]="persona.nombre">
  <div [ngSwitch]="persona.nombre">
    <p *ngSwitchCase="'Julio'">
      Eres Julio
    </p>
    <p *ngSwitchCase="'Ricardo'">
      Eres Ricardo
    </p>
    <p *ngSwitchCase="'Neo'">
      Eres Neo
    </p>
    <p *ngSwitchDefault>No eres nadie</p>

  </div>


</body>

</html>
